@{
    ViewData["Title"] = "FAQ ToyMart";
}

    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="topnav">
                <a style="color:rgba(84, 33, 249, 0.962);" class="active" href='@Url.Action("Index", "Home")'>Toy Mart</a>
                <img src="/images/products/logotoys.JPG" width="50" height="50">
            </div>
            </nav>
    </section>

            
            <section id="faq">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>faq Us</h2>
                            <div class="faq-content">
                              <h3>  BROWSER COMPATIBILITY </h3>

WHICH BROWSERS WORK WELL FOR THIS WEBSITE?

Here's a list of browsers we support and where to get them:
Windows: Microsoft Internet Explorer, Mozilla Firefox, Apple Safari, or Google Chrome (latest versions) Mac: 
safari, Google Chrome, or Mozilla Firefox (latest versions)
                                    </div>
                                    <div>
                    <h4>REGISTRATION <h4>
                            WHY SHOULD I REGISTER?
                                    
                             In order to transact on this website, you need to have a registered profile. Your profile has a username and password which you will need to log on. 
                             If you do not have a username or password, you will need to create a profile. 


                                    </div>
                        </div>
                    </div>
                </div>
            </section>
                        
    
